body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f9ff;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f95d47;
}

.nav h1 {
  padding-left: 20px;
  color: white;
}

.nav a {
  height: 45px;
  width: 45px;
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a:hover {
  background-color: white;
  color: rgba(249, 93, 71, 0.75);
}

.main_container {
  width: 100%;
  flex: 9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.info {
  width: 100%;
  flex: 9;
  display: none;
  align-items: center;
  padding: 50px;
}

.info h1 {
  font-size: 60px;
  text-align: center;
  color: rgba(249, 93, 71, 0.75);
}

.info h2 {
  font-size: 40px;
  font-style: italic;
  padding-left: 50px;
  color: rgba(249, 93, 71, 0.75);
}

.info p {
  font-size: 30px;
  text-align: justify;
  padding: 30px;
}

.info h3 {
  font-size: 60px;
  text-align: center;
  color: rgba(249, 93, 71, 0.75);
}

.top {
  width: 85%;
  background-color: white;
  flex: 1 0 300px;
  border-radius: 10px;
  margin: 50px;
  display: flex;
}

.left {
  flex: 1;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px;
  margin: 10px;
}

.left li {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 900;
}

.lable {
  height: 30px;
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 40px;
  padding-bottom: 10px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(249, 93, 71, 0.75);
  border-radius: 50%;
  box-shadow: 5px 5px rgba(249, 93, 71, 0.75);
}

.circle h1 {
  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.middle {
  width: 100%;
  flex: 1 0 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle h2 {
  font-family: "Inter", sans-serif;
  padding-left: 20px;
  align-self: flex-start;
}

/* #list_for_guessed {
  width: 90%;
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: lightblue;
  display: flex;
  flex-direction: column;
}

#list_for_guessed::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#list_for_guessed li {
  width: 80%;
  height: 40px;
  background-color: #fbf7f7;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 30px;
} */

.bottom {
  width: 85%;
  flex: 1 0 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input {
  width: 60%;
  height: 60px;
  text-align: center;
  font-size: 25px;
  border: 1px solid #f5f9ff;
  border-radius: 20px;
  margin-bottom: 40px;
}

.buttons {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  width: 320px;
  height: 35px;
  border-radius: 42px;
  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: white;
  box-shadow: 2px 2px gray;
}

button:hover {
  background-color: rgba(249, 93, 71, 0.75);
  color: white;
}

.congrats {
  width: 700px;
  height: 700px;
  margin-top: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(249, 93, 71, 0.75);
  box-shadow: 4px 6px rgba(249, 93, 71, 0.75);
  border-radius: 50%;
}

.congrats h2 {
  font-size: 60px;
  color: rgba(249, 93, 71, 0.75);
}

.congrats p {
  font-size: 30px;
  font-style: italic;
}

.congrats h1 {
  font-size: 60px;
  color: rgba(249, 93, 71, 0.75);
}

.triesDisp {
  font-size: 15px !important;
}

#finaltries {
  font-size: 15px !important;
}

.table_prev {
  max-height: 250px;
  width: 85%;
  max-height: 90%;
  flex: 3;
  overflow-y: scroll;
}

.table_prev tr:first-child td {
  border: 1px solid #f95d47;
}

table {
  width: 100%;
}

th {
  font-size: 20px;
  background-color: #f5f9ff;
}

td {
  text-align: center;
  font-size: 25px;
  margin: 10px;
  padding: 5px;
}

tr {
  width: 100%;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}

@media only screen and (max-width: 750px) {
  .main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .top {
    width: 90%;
    background-color: white;
    flex: 1 0 300px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .left {
    flex: 1;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 15px;
    padding-left: 0px;
  }

  .left li {
    font-size: 15px;
    font-weight: 900;
    list-style: none;
  }

  .lable {
    height: 30px;
    font-size: 15px;
    font-weight: 800;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .right {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(249, 93, 71, 0.75);
    border-radius: 50%;
    box-shadow: 5px 5px rgba(249, 93, 71, 0.75);
  }

  .circle h1 {
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .table_prev {
    width: 90%;
    max-height: 250px;
    flex: 3;
    overflow-y: scroll;
  }

  table {
    width: 100%;
  }

  th {
    font-size: 15px;
    background-color: #f5f9ff;
  }

  td {
    text-align: center;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
  }

  tr {
    width: 100%;
    margin: 15px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
  }

  .bottom {
    width: 90%;
    flex: 1 0 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  input {
    width: 60%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #f5f9ff;
    border-radius: 2px;
    margin-bottom: 40px;
  }

  .buttons {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  button {
    width: 200px;
    height: 35px;
    border-radius: 42px;
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: white;
    box-shadow: 2px 2px gray;
  }

  button:hover {
    background-color: rgba(249, 93, 71, 0.75);
    color: white;
  }

  .congrats {
    width: 500px;
    height: 500px;
    margin-top: 100px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(249, 93, 71, 0.75);
    box-shadow: 4px 6px rgba(249, 93, 71, 0.75);
    border-radius: 50%;
  }

  .congrats h2 {
    font-size: 40px;
    color: rgba(249, 93, 71, 0.75);
  }

  .congrats p {
    font-size: 30px;
    font-style: italic;
  }

  .congrats h1 {
    font-size: 40px;
    color: rgba(249, 93, 71, 0.75);
  }

  .triesDisp {
    font-size: 15px !important;
  }

  #finaltries {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 560px) {
  .main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .top {
    width: 90%;
    background-color: white;
    flex: 1 0 300px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .left {
    flex: 1;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 12px;
  }

  .left li {
    font-size: 12px;
    font-weight: 900;
    list-style: none;
  }

  .lable {
    height: 30px;
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .right {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(249, 93, 71, 0.75);
    border-radius: 50%;
    box-shadow: 5px 5px rgba(249, 93, 71, 0.75);
  }

  .circle h1 {
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .table_prev {
    width: 90%;
    max-height: 90%;
    flex: 3;
    overflow-y: scroll;
  }

  table {
    width: 100%;
  }

  th {
    font-size: 12px;
    background-color: #f5f9ff;
  }

  td {
    text-align: center;
    font-size: 12px;
    margin: 10px;
    padding: 5px;
  }

  tr {
    width: 100%;
    margin: 15px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
  }

  .bottom {
    width: 90%;
    flex: 1 0 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  input {
    width: 60%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #f5f9ff;
    border-radius: 2px;
    margin-bottom: 40px;
  }

  .buttons {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  button {
    width: 150px;
    height: 35px;
    border-radius: 42px;
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: white;
    box-shadow: 2px 2px gray;
  }

  button:hover {
    background-color: rgba(249, 93, 71, 0.75);
    color: white;
  }

  .congrats {
    width: 350px;
    height: 350px;
    margin-top: 200px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(249, 93, 71, 0.75);
    box-shadow: 4px 6px rgba(249, 93, 71, 0.75);
    border-radius: 50%;
  }

  .congrats h2 {
    font-size: 20px;
    color: rgba(249, 93, 71, 0.75);
  }

  .congrats p {
    font-size: 30px;
    font-style: italic;
  }

  .congrats h1 {
    font-size: 20px;
    color: rgba(249, 93, 71, 0.75);
  }

  .triesDisp {
    font-size: 15px !important;
  }

  #finaltries {
    font-size: 15px !important;
  }

  .info {
    width: 100%;
    flex: 9;
    display: none;
    align-items: center;
    padding: 50px;
  }

  .info h1 {
    font-size: 40px;
    text-align: center;
    color: rgba(249, 93, 71, 0.75);
  }

  .info h2 {
    font-size: 30px;
    font-style: italic;
    padding-left: 50px;
    color: rgba(249, 93, 71, 0.75);
  }

  .info p {
    font-size: 20px;
    text-align: justify;
    padding: 30px;
  }

  .info h3 {
    font-size: 50px;
    text-align: center;
    color: rgba(249, 93, 71, 0.75);
  }
}

@media only screen and (max-width: 360px) {
  .main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .top {
    width: 90%;
    background-color: white;
    flex: 1 0 300px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .left {
    flex: 1;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 12px;
  }

  .left li {
    font-size: 12px;
    font-weight: 900;
    list-style: none;
  }

  .lable {
    height: 30px;
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .right {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(249, 93, 71, 0.75);
    border-radius: 50%;
    box-shadow: 5px 5px rgba(249, 93, 71, 0.75);
  }

  .circle h1 {
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .table_prev {
    width: 90%;
    max-height: 90%;
    flex: 3;
    overflow-y: scroll;
  }

  table {
    width: 100%;
  }

  th {
    font-size: 12px;
    background-color: #f5f9ff;
  }

  td {
    text-align: center;
    font-size: 12px;
    margin: 10px;
    padding: 5px;
  }

  tr {
    width: 100%;
    margin: 15px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
  }

  .bottom {
    width: 90%;
    flex: 1 0 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  input {
    width: 60%;
    height: 60px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #f5f9ff;
    border-radius: 2px;
    margin-bottom: 40px;
  }

  .buttons {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  button {
    width: 100px;
    height: 35px;
    border-radius: 42px;
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: white;
    box-shadow: 2px 2px gray;
  }

  button:hover {
    background-color: rgba(249, 93, 71, 0.75);
    color: white;
  }

  .congrats {
    width: 250px;
    height: 250px;
    margin-top: 300px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(249, 93, 71, 0.75);
    box-shadow: 4px 6px rgba(249, 93, 71, 0.75);
    border-radius: 50%;
  }

  .congrats h2 {
    font-size: 15px;
    color: rgba(249, 93, 71, 0.75);
  }

  .congrats p {
    font-size: 15px;
    font-style: italic;
  }

  .congrats h1 {
    font-size: 20px;
    color: rgba(249, 93, 71, 0.75);
  }

  .triesDisp {
    font-size: 12px !important;
  }

  #finaltries {
    font-size: 12px !important;
  }
}

/* 
@media only screen and (max-width: 1550px) {
  .main {
    height: 80vh;
    width: 85%;
  }
}

@media only screen and (max-width: 1250px) {
  .main {
    height: 85vh;
    width: 90%;
  }

  .top {
    width: 100%;
    flex: 1 0 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .left {
    flex: 1;
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
    margin: 10px;
    border: 1px solid lightblue;
  }

  .left li {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 900;
    list-style: none;
  }

  .lable {
    height: 30px;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(249, 93, 71, 0.75);
    border-radius: 50%;
    box-shadow: 5px 5px rgba(249, 93, 71, 0.75);
    margin: 10px;
  }

  .circle h1 {
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .middle {
    width: 100%;
    flex: 1 0 200px;
    border: 1px solid black;
  }

  .middle h2 {
    font-family: "Inter", sans-serif;
    padding-left: 20px;
  }

  #list_for_guessed {
    width: 95%;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: lightblue;
    display: flex;
    flex-direction: column;
  }

  #list_for_guessed::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  #list_for_guessed li {
    width: 90%;
    height: 40px;
    background-color: #fbf7f7;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .main {
    height: 85vh;
    width: 90%;
  }

  .top {
    width: 100%;
    flex: 1 0 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .left {
    flex: 1;
    min-height: 50px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    margin: 10px;
    border: 1px solid lightblue;
  }

  .left li {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
  }

  .lable {
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
  }

  .right {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(249, 93, 71, 0.75);
    border-radius: 50%;
    box-shadow: 5px 5px rgba(249, 93, 71, 0.75);
    margin: 10px;
  }

  .circle h1 {
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .middle {
    width: 100%;
    flex: 1 0 200px;
    border: 1px solid black;
  }

  .middle h2 {
    font-family: "Inter", sans-serif;
    padding-left: 20px;
  }

  #list_for_guessed {
    width: 95%;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: lightblue;
    display: flex;
    flex-direction: column;
  }

  #list_for_guessed::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  #list_for_guessed li {
    width: 90%;
    height: 40px;
    background-color: #fbf7f7;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 25px;
  }
  .table_prev {
    width: 98%;
    height: 90%;
    flex: 3;
    border: 1px solid black;
    overflow-y: scroll;
  }

  table {
    width: 100%;
  }

  th {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 18px;
  }

  td {
    text-align: center;
    font-size: 20px;
  }

  #input {
    font-size: 20px;
  }
  .congrats {
    width: 500px;
    height: 500px;
    margin-top: 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(249, 93, 71, 0.75);
    box-shadow: 4px 6px rgba(249, 93, 71, 0.75);
    border-radius: 50%;
  }

  .congrats h2 {
    font-size: 40px;
    color: rgba(249, 93, 71, 0.75);
  }

  .congrats p {
    font-size: 25px;
    font-style: italic;
  }

  .congrats h1 {
    font-size: 40px;
    color: rgba(249, 93, 71, 0.75);
  }
}

@media only screen and (max-width: 610px) {
  .main {
    height: 85vh;
    width: 90%;
  }

  .top {
    width: 100%;
    flex: 1 0 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .left {
    flex: 1;
    min-height: 50px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid lightblue;
  }

  .left li {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
  }

  .lable {
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    height: 280px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(249, 93, 71, 0.75);
    border-radius: 50%;
    box-shadow: 5px 5px rgba(249, 93, 71, 0.75);
    margin: 10px;
  }

  .circle h1 {
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .middle {
    width: 100%;
    flex: 1 0 200px;
    border: 1px solid black;
  }

  .middle h2 {
    font-family: "Inter", sans-serif;
    padding-left: 20px;
  }

  #list_for_guessed {
    width: 95%;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: lightblue;
    display: flex;
    flex-direction: column;
  }

  #list_for_guessed::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  #list_for_guessed li {
    width: 90%;
    height: 40px;
    background-color: #fbf7f7;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
  }

  .table_prev {
    width: 98%;
    height: 90%;
    flex: 3;
    border: 1px solid black;
    overflow-y: scroll;
  }

  table {
    width: 100%;
  }

  th {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 16px;
  }

  td {
    text-align: center;
    font-size: 18px;
  }
  #input {
    font-size: 15px;
  }

  .congrats {
    width: 300px;
    height: 300px;
    margin-top: 300px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(249, 93, 71, 0.75);
    box-shadow: 4px 6px rgba(249, 93, 71, 0.75);
    border-radius: 50%;
  }

  .congrats h2 {
    font-size: 20px;
    color: rgba(249, 93, 71, 0.75);
  }

  .congrats p {
    font-size: 25px;
    font-style: italic;
  }

  .congrats h1 {
    font-size: 20px;
    color: rgba(249, 93, 71, 0.75);
  }
} */
